@{
    ViewBag.Title = "Home Page";
}

<h1>Home Page</h1>

@*@section Scripts{
        <script>
            alert("Hi!")
        </script>
    }*@

@section Head{
    <meta name="Author" content="Trakya University" />
}